.error_box {
    font-weight: bold;
    font-size: large;
    color: red;
    background-color: lightgray;
    border: 4px solid red;
    padding: 6px;
    margin-bottom: 10px;
}
.empty_box {
    display: none;
}